#tarolo{
    display: flex;
}

/*1*/
.zold{
    width: 100%;
    height: 300px;
    background-color: green;
}

.sarga{
    width: 100%;
    height: 300px;
    background-color: yellow;
}

.lila{
    width: 100%;
    height: 300px;
    background-color: purple;
}

/*2*/
.f2zold{
    width: 100%;
    height: 300px;
    background-color: green;
    flex: 1;
}

.f2sarga{
    width: 100%;
    height: 300px;
    background-color: yellow;
    flex: 2;
}

.f2lila{
    width: 100%;
    height: 300px;
    background-color: purple;
    flex: 1;
}

/*3*/
.f3zold{
    width: 100%;
    height: 300px;
    background-color: green;
    flex: 1;
    order: 1;
}

.f3sarga{
    width: 100%;
    height: 300px;
    background-color: yellow;
    flex: 2;
}

.f3lila{
    width: 100%;
    height: 300px;
    background-color: purple;
    flex: 1;
    order: -1;
}

/*4*/
#f4tarolo{
    display: flex;
    flex-direction: column;
}

.f4zold{
    width: 100%;
    height: 300px;
    background-color: green;
    flex: 1;
}

.f4sarga{
    background-color: yellow;
    flex: 2;
    order: 1;
    width: 100%;
    height: 300px;
}

.f4lila{
    width: 100%;
    height: 300px;
    background-color: purple;
    flex: 1;
    order: 0;
}